@import 'styles/utils/index';

.childContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;

    &Left {
        flex: 0.5;
        > h2 {
            opacity: 0.7;
            text-decoration: underline;
            margin: 0 !important;
            position: relative;
            top: 2rem;
        }
        > strong {
            font-size: $font-size-md-large;
        }
        > span {
            font-size: $font-size-large;
        }
    }
    &Right {
        flex: 0.5;
        .logo {
            margin-left: auto;
            width: 100vw;

            @include breakpoint(desktop-s) {
                height: 500px;
                width: 500px;
                object-fit: contain;
            }
        }
    }
}
