{
    "parser": "babel-eslint",
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["react", "jsx-a11y", "import", "eslint-plugin-prettier", "eslint-plugin-react"],
    "settings": {
        // "import/resolver": "react-native"
    },
    "rules": {
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": true
            }
        ],
        "import/no-unresolved": [2, { "ignore": ["assets/"] }],
        "import/prefer-default-export": "off",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".ts", ".tsx"]
            }
        ],
        "react/prefer-stateless-function": [0],
        "no-console": [2],
        "react/jsx-indent": [0],
        "react/sort-comp": [0],
        "react/destructuring-assignment": [0],
        "react/forbid-prop-types": [0],
        "react/no-unescaped-entities": [
            "error",
            {
                "forbid": [">", "}"]
            }
        ],
        "react/jsx-props-no-spreading": "off",
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": false
            }
        ],
        "jsx-quotes": ["error", "prefer-double"],
        "camelcase": "off",
        "no-use-before-define": "off",
        "semi": ["error", "always"],
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "all",
                "singleQuote": true,
                "jsxSingleQuote": false,
                "printWidth": 100,
                "semi": true,
                "jsxBracketSameLine": true,
                "tabWidth": 4
            }
        ],
        "no-plusplus": "off",
        "no-underscore-dangle": ["error", { "allow": ["_id"] }]
    },
    "env": {
        "jest": true,
        "es6": true
    },
    "globals": {
        "__DEV__": true,
        "FormData": true
    }
}
