@import 'styles/utils/index';

.container {
    background: $primary-card;
    width: 380px;
    min-height: 500px auto;
    border-radius: 4px;
    margin: 10px 0 10px 0;
    padding: 20px 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
    h5 {
        color: $color-white !important;
        //    &::before{

        //     display: inline-block;
        //       content: '';
        //       -webkit-border-radius: 0.375rem;
        //       border-radius: 0.375rem;
        //       height: 0.65rem;
        //       width: 0.65rem;
        //       margin-right: 0.5rem;
        //       background-color: #bdbdbd;
        //     //   position: relative;
        //       top: 0.5px;
        //    }
    }

    h2 {
        color: $color-white !important;
        text-align: center;
        padding-top: 6px;
        font-weight: $regular;
        margin: 0 !important;
    }
    > span {
        color: $color-white;
        font-size: $font-size-span;
        opacity: 0.8;
    }
    &__header {
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        background-size: cover;
        position: relative;
        margin-top: -5rem;
        left: 30px;
    }
}
.tabs {
    color: $color-white;
    :global .ant-tabs-tab {
        font-weight: $semi-bold;
        margin-top: 10px;
    }
    :global .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: $color-orange;
        opacity: 1;
    }
    :global .ant-tabs-tab + .ant-tabs-tab {
        margin-left: 7rem;
    }
    :global .ant-tabs-ink-bar {
        // width: 40% !important;
        background-color: $color-orange;
    }

    &__leftTabContent {
        > p {
            font-size: $font-size-span;
            opacity: 0.8;
            width: 88%;
            padding-top: 20px;
        }

        padding-top: 20px;
        img {
            height: 30px;
            width: 30px;
            position: relative;
            top: -8px;
        }
    }

    &__list {
        display: flex;
        gap: 11px;
    }
}
