@import 'styles/utils/index';

.parent {
    background-image: url('/header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0 300px 0;
    width: auto;
    @include breakpoint(desktop-s) {
        width: 100%;
    }
    @include breakpoint(tablet) {
        background-image: none;
        background-size: 0;
        height: 90vw;
    }
    @include breakpoint(mobile) {
        height: 100%;
        padding-bottom: 0;
        justify-content: center;
        align-items: center;
    }
}
.headerText {
    font-size: $font-size-large;
    line-height: 85px;
    font-weight: $bold;
    margin-top: 90px;
    @include breakpoint(mobile) {
        font-size: $font-size-md-large;
        line-height: 54px;
        text-align: center;
        font-size: 40px;
    }
}
.h__btn {
    padding: 1px 150px;
    height: 70px;
    border-radius: 50px;
    background-color: $primary-dark;
    font-weight: $semi-bold;
    margin-top: 30px;
    border-color: $primary-dark;
    > span {
        font-size: 24px;
    }
    &:hover {
        background-color: $primary-dark;
    }
    &:focus {
        background-color: $primary-dark;
        border-color: $primary-dark;
    }
    @include breakpoint(mobile) {
        display: none;
    }
}
.stats {
    margin-top: 70px;
    display: flex;
    gap: 60px;
    @include breakpoint(mobile) {
        justify-content: space-around;
        align-items: center;
        justify-content: center;
    }
    .s__text {
        strong {
            font-weight: $bold;
            font-size: 44px;
            margin-bottom: 0;
            @include breakpoint(mobile) {
                font-size: $font-size-heading;
            }
        }
        span {
            font-weight: $semi-bold;
            // opacity: 0.7;
            @include breakpoint(mobile) {
                text-align: center;
            }
        }
        @include breakpoint(mobile) {
  text-align: center;
}

    }
}

.subTitle {
    font-weight: $semi-bold;
    opacity: 0.7;
    > img {
        opacity: 1 !important;
        position: relative;
        top: -4px;
    }
    @include breakpoint(mobile) {
        text-align: center;
    }
    &__2 {
        max-width: 50%;
        font-weight: $medium;
        opacity: 0.7;
        @include breakpoint(mobile) {
            text-align: center;
            margin: 0;
            max-width: 100%;
        }
    }
}
