@import 'styles/utils/index';

.container {
    padding: 50px 0px 80px 0px;
    margin-top: 40px;
    background-color: $color-banner;
    .c__shortSeparator {
        height: 6px;
        width: 250px;
        background-color: $color-white;
        border-radius: 6px;
        opacity: 0.7;
    }
    .c__headerText {
        color: $color-orange !important;
        margin-top: 20px;
    }
    .c__content {
        > span {
            color: $color-white;
            font-size: $font-size-heading;
            font-weight: $semi-bold;
        }
        h1 {
            color: $color-white !important;
            font-size: $font-size-large;
            margin: 0 0 0 20px;
        }
    }
    .c__content__text {
        color: $color-white !important;
        font-size: $font-size-normal-heading;
        width: 60%;
    }
    a {
        text-decoration: underline;
        color: $color-white;
        position: relative;
        top: 40px;
        transition: 0.2s;
        &:hover {
            color: $color-aqua;
            transition: 0.2s;
        }
    }
}
