.container{
    background-color:  #F5FEFF;
    padding: 5px 20px;
}
.innerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    >span{
        font-weight: 600;
        
    }
}