.feedback {
    position: absolute;
    top: 60%;
    left: 94.2%;
    width: max-content;
    height: max-content;
    padding: 10px 15px;
    background-color: #ff8885;
    transform: rotate(-90deg); /* Standard syntax */
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
