@import "mixins";
@import "variables";

.headerH1 {
  font-family: $font-family1;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
  color: $color-black;

  @include breakpoint(mobile) {
    font-size: 48px;
    line-height: 46px;
  }
}

.headerH2 {
  font-weight: bold;
  font-size: 48px;
  color: $color-black;
  font-family: $font-family1;
  line-height: 58px;

  @include breakpoint(mobile) {
    font-size: 24px;
    line-height: 29px;
  }
}

.headerH3 {
  font-weight: 600;
  font-size: 30px;
  color: $color-black;
  font-family: $font-family1;
  line-height: 30px;

  @include breakpoint(mobile) {
    font-size: 18px;
    line-height: 29px;
  }
}

.headerH4 {
  font-size: 20px;
  line-height: 24px;
  font-family: $font-family1;

  @include breakpoint(mobile) {
    font-size: 14px;
    line-height: 16px;
  }
}

.paragraphText {
  font-size: 20px;
  color: #606469;
  line-height: 24px;
  font-family: $font-family1;

  @include breakpoint(mobile) {
    font-size: 16px;
    line-height: 19px;
    // text-align: left !important;
  }
}
