@import 'styles/utils/index';

.outerContainer {
    background-color: $color-dark-grey;
    &Items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 40px 0 20px 0;
        gap: 15px;
        box-sizing: border-box;
        @include breakpoint(mobile) {
            padding-left: 20px;
            gap: 30px;
        }
    }
    &Child {
        min-width: 220px;

        > h2 {
            color: $color-white !important;
            display: inline-block;
            @include breakpoint(mobile) {
                min-width: 90px;
            }
        }
        h3 {
            color: $color-white !important;
            margin: 0;
            @include breakpoint(mobile) {
                font-size: 12px;
            }
        }

        > p {
            color: $color-white;
            margin-top: 3px;
            opacity: 0.7;
            max-width: 320px;
            text-align: justify;
            letter-spacing: -0.5px;
            line-height: 2em;
            > strong {
                color: $color-light-orange;
                opacity: 1;
            }
        }
        > ul {
            li {
                margin-bottom: 14px;
                a {
                    color: $color-white;
                    opacity: 0.7;
                    transition: 0.3s;
                    width: 100px;

                    &:hover {
                        color: $color-white;
                        opacity: 1;
                        transition: 0.3s;
                    }
                }
            }
        }
        .contactUs {
            color: $color-light-orange;
            opacity: 1;
        }
        .phone {
            color: $color-aqua;
            transform: rotate(-135deg);
            font-size: 24px;
        }
    }
    hr {
        opacity: 0.7;
    }
    .copyRight {
        color: $color-white;
        opacity: 0.7;
        padding: 10px 0 20px 0;
        @include breakpoint(mobile) {
            font-size: 12px;
            padding-left: 20px;
            text-align: center;
        }
    }
}
