.innerContainer {
    background: rgb(255, 255, 255);
    backdrop-filter: blur(38px);
    min-height: 100vh;
    max-height: max-content;
}

.center{
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
height: 90vh;
}