.innerContainer {
    background: rgb(255, 255, 255);
    backdrop-filter: blur(38px);
    min-height: 100vh;
    max-height: max-content;
}
.submit{
 position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
bottom: 0px;
padding: 20px;
text-align: center;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
background: #4ED8E9;
position: sticky;
>span{
    font-weight: 600;
    color: #fff;
    font-size: 22px;
}
}