.container {
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: 0.3s all ease;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.container__2 {
    @extend .container;
    background-color: #ff8766;
    box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
    color: #fff;

    &:hover {
        text-decoration: underline;
    }
}
