@import 'styles/utils/index';

.nav {
    display: flex;
    padding-top: 30px;
}
.leftContainer {
    display: flex;
    gap: 8em;
    font-weight: $semi-bold;
    color: $primary-dark;
    font-size: $font-size-normal;
    cursor: pointer;

    .logo {
        position: relative;
        top: -32px;
    }
}

.rightContainer {
    margin-left: auto;
    @extend .leftContainer;

    a {
        color: $primary-dark;
    }
}
