@import 'styles/utils/index';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100%;
}
.feedbackContainer {
    width: 100%;
    min-height: 80vh auto;
    padding: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    &Card {
        display: flex;
        justify-content: space-between;

        .left {
            flex: 0.3;
            background: $left-card-color;
            padding: 20px 0px 0 0px;
            padding: 0 20px 0 70px;
            > h1 {
                font-size: 2vw;
                font-weight: $semi-bold;
                color: $header-color !important;
                padding: 55px 0px 0 0px;
            }

            img {
                height: 400px;
                width: 500px;
                // left: -3rem;
                @include breakpoint(desktop) {
                    height: 300px;
                    width: 300px;
                }
            }
            @include breakpoint(desktop-s) {
                display: none;
            }
        }
        .right {
            flex: 0.7;
            background-color: $base-bg;
            padding: 50px 20px 0 60px;
            max-height: 82vh;
            overflow-y: scroll;
            > h1 {
                font-size: 2vw;
                font-weight: $regular;
                color: $header-color !important;
            }
            :global .ant-input-affix-wrapper {
                background-color: transparent;
                border-bottom: 2px solid #4d4d4d;
                border-top: none;
                border-left: none;
                border-right: none;
                border-radius: 0;
                &:hover {
                    background-color: transparent;
                    border-color: #4d4d4d;
                }
                > input {
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            :global .ant-input {
                background-color: transparent;
                &:focus {
                    border-color: $left-card-color;
                }
            }
            :global .ant-input-focused {
                box-shadow: transparent;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                border-color: transparent;
            }
            :global .ant-form-item {
                // margin-bottom: 20px;
            }

            :global .ant-input-affix-wrapper-focused {
                box-shadow: transparent;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                border-color: transparent;
                border-right-width: 0 !important;
                outline: none !important;
            }
            :global .ant-input-number {
                background-color: transparent;
                width: 67%;
                border-color: #4d4d4d;
                border-bottom: 2px solid #4d4d4d;
                border-top: none;
                border-left: none;
                border-right: none;
                border-radius: 0;
            }
            :global .ant-col-offset-8 {
                margin-left: 0;
                margin-top: 30px;
            }
            :global .ant-checkbox-checked .ant-checkbox-inner {
                background-color: $left-card-color;
                border-color: $left-card-color;
            }
            :global .ant-checkbox-input:focus .ant-checkbox-inner {
                border-color: $header-color;
            }
            :global .ant-checkbox-checked::after {
                border-color: transparent;
            }
            :global .ant-checkbox-inner {
                border-color: $header-color;
                background-color: transparent;
            }
            :global .anticon {
                margin-right: 10px;
                font-size: 20px;
                stroke: #3f3f3f;
                stroke-width: 30px;
            }
            :global .ant-input-number-handler-wrap {
                display: none;
            }

            input::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #000;
                opacity: 0.8; /* Firefox */
            }

            input {
                background-color: transparent !important;
            }
            .submitBtn {
                width: 100%;
                height: 50px;
                background-color: $header-color;
                border-radius: 4px;
                border-color: $header-color;
                height: 60px;
                > span {
                    font-size: $font-size-normal-heading;
                }
            }
            .textArea {
                height: 100px;
                background-color: rgba($color: $left-card-color, $alpha: 0.3);
            }
            @include breakpoint(desktop-s) {
                flex: 1;
            }
        }
        :global .ant-rate-star:not(:last-child) {
            margin-right: 40px;
            margin-bottom: 20px;
        }
        .emoji {
            opacity: 0.5;
            transition: 0.3s ease all;

            &:hover {
                transition: 0.3s ease all;
                opacity: 1;
            }
        }
        .selectedEmoji {
            opacity: 1;
            height: 45px;
            width: 45px;
            transition-duration: 0.4s;
        }
        .upload {
            :global .ant-btn {
                background-color: transparent;
                border-top: none;
                border-left: none;
                border-right: none;

                &:hover {
                    border-color: $header-color;
                }
            }
            :global .ant-upload-list-item-info {
                width: 60%;
                margin-top: 10px;
                &:hover {
                    background-color: #e0e0e0;
                }
            }
        }
    }
}
